body {
  section {
    .display {
       font-weight: 600;
       color: $primary;
    }
  }
}

.column {
  &.ampersand:before {
    content: '&';
    font-size: 14rem;
    line-height: 14rem;
    color: $secondary;
    font-family: serif;
  }
}
