@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://use.typekit.net/svf0rss.css");

$primary: #1b1442;
$secondary: #f3663e;
$slate: #e6e9ec;
$light: #f7fafb;

@import "./elements.scss";
@import "./type.scss";
@import "./quilt.scss";
